.modalOverlay{
position: fixed;
top: 0; left: 0; right: 0; bottom: 0;
background: rgba(0, 0, 0, 0.3);
display:flex ;
justify-content: center;
align-items: center;

}

.modalContent{

background: #fff;
padding: 16px;
border-radius: 4px;
min-width: 200px;
min-height: 100px;

}